@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}
/* p {
  font-family: "IBM Plex Serif", serif;
} */
